
#adm-menu{
  text-align: center;
  display: block;
}

#adm-menu a{
  float: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin: 0px;
  width: 300px;
  text-decoration: none;

}

#adm-menu li{
  background: white;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  display: flex;
  border-radius: 10px;
}
